//首頁 產品
.products {
  min-height: 80%;
  min-width: 100%;
  margin: auto;
  z-index: -4;
  background: url('~@/assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &-items {
    width: 100%;
    height: 100%;
    &-img {
      display: block;
      max-width: 100%;
      margin: auto;
      height: 350px;
    }
    &-content {
      position: relative;
      display: flex;
      height: 350px;
      padding: 0;
      color: #fff;
      z-index: 3;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-content:after {
      content: '';
      background-image: url('~@/assets/img/main-bg.jpg');
      background: rgba(245, 245, 245, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-repeat: no-repeat;
      filter: blur(10px);
      background-attachment: fixed;
    }
  }

  @media screen and (max-width: 992px) {
    .products {
      padding: 0;
      &-items {
        padding: 0;
      }
    }
  }
}
