@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';

//dashboard
@import './dashboard';
//customerpage
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
@import './components/navbar';
@import './components/header';
@import './components/main';
@import './components/footer';

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}
// loading
.vld-overlay .vld-background {
  background-color: black;
}
.bazzi-loading {
  //assets在專案編譯的過程中會被webpack處理解析為模組依賴
  //路徑使用'~@' 會被Webpack解析為 require(/src/...)
  background-image: url('~@/assets/img/Loading.gif');
  background-repeat: no-repeat;
  background-attachment: 100%;
  width: 200px;
  height: 200px;
}
